<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.merpyzf.kangyuanmilk">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 文件读取 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 短信相关权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />

    <!-- 网络状态相关的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 读取手机联系人的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 获取位置信息的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="cc"
            android:value="ceddce" />

        <!-- 主界面 -->
        <activity
            android:name=".ui.user.view.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/activity_login_label"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".ui.login.SmsVerifyActivity"
            android:label="@string/activity_sms_verify_label"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:label="@string/activity_register_label"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <!-- 图片剪切框架 -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="Mob-AppKey"
            android:value="1fa0818bd9c84" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="6d83934ee009eaeb2f887234b5899934" />

        <activity
            android:name=".ui.user.view.UserInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.TestAddressActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.home.view.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.StudyActivity" />
        <activity
            android:name=".ui.user.view.ModifyUserInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".test.StudyRecyclerViewActivity" />
        <activity android:name=".test.StudyRecycler1ViewActivity" />
        <activity android:name=".test.StudyRecyclerw2viewActivity" />
        <activity android:name=".test.ImageViewActivity" />
        <activity
            android:name=".ui.user.view.ModifyAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.user.view.UserAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".test.WaveActivity" />
        <activity
            android:name=".ui.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".test.BottomSheetActivity" />
        <activity
            android:name=".ui.order.OrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.view.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.view.GoodsDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.welcom.SplashActivity" />
        <activity
            android:name=".ui.welcom.GuideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".test.RxActivity" />
        <activity android:name=".test.CalenderViewActivity"></activity>
        <activity android:name=".test.Main2Activity"></activity>
        <activity android:name=".ui.home.view.ContentActivity"
            android:theme="@style/AppTheme.NoActionBar"

            >



        </activity>
    </application>

</manifest>